.input {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    transition-duration: 0.4s;

    background-color: white;
    color: gray;
    border: 2px solid gray;
}

h3 {
    color: black;
}