.Toolbar {
    background-color: white;
    opacity: .4;
    border-radius: 20px;
    color: gray;

    margin: 20px;

    position: absolute;
    max-width: 200px;
    min-width: 200px;
    left: 0;
    top: 0;

    z-index: 200;
}

.Handle {
    padding: 20px;
}

.tools {
    cursor: auto;
}

.lessOpacity {
    opacity: 0.2;
}

.clickable {
    cursor: pointer;
    text-align: right;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.minus {
    border: solid black;
    border-width: 0 0 3px 0;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
}